{%- if media == 'desktop' -%}
	{%- if menu.url == page.url -%}
		<a href="{{ menu.url }}" class="rounded-md bg-green-900 px-3 py-2 text-sm font-medium text-white no-underline" aria-current="page">{{ menu.label }}</a>
	{%- else -%}
		<a href="{{ menu.url }}" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-green-500/25 no-underline">{{ menu.label }}</a>
	{%- endif -%}

{%- else -%}
	{%- if menu.url == page.url -%}
		<a href="{{ menu.url }}" class="block rounded-md bg-green-900 px-3 py-2 text-base font-medium text-white no-underline" aria-current="page">{{ menu.label }}</a>
	{%- else -%}
		<a href="{{ menu.url }}" class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-green-500/25 no-underline">{{ menu.label }}</a>
	{%- endif -%}
{%- endif -%}
